body{
    margin:auto;
    max-width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
}

#background{
    background-color: linear-gradient(#444,#111);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: -10;
    opacity: 95%;
    object-fit: cover;
}



.menu_bar__nav{
    position: fixed;
    z-index: 10;
    left:0;
    right:0;
    top:0;
    margin:auto;
    margin-top: 10px;
    max-width:300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    animation-name:menu_animation;
    animation-timing-function: linear;
    animation-timeline: scroll(root block);
    animation-fill-mode: both;
    animation-range:0 100px;
    padding:0 10px;
    height: 40px;
    border-radius: 30px;
    gap:10px;
}

@keyframes menu_animation{
    
    to{
        background: #b8b8b8cc;
        backdrop-filter: blur(5px);
    }
}

.nav__item{
    font-size: 17px;
    color:#ffffff;
    animation-name:text_animation;
    animation-timing-function: linear;
    animation-timeline: scroll(root block);
    font-weight: bolder;
}

@keyframes text_animation{
    15%{
        color: #222;
    }
    100%{
        color: #222;
    }
}

h1{
    font-size: 50px;
    color:#ffffff;
    margin:auto;

}

/**/

main{
    display: flex;
    flex-direction: column;
    gap:50px;
}

.detail_section{
    width: 900px;
    background: #111111dd;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px;
}



.presentation{
    width: auto;
    display: flex;
    flex-direction: row;
    direction: ltr;
    justify-content: space-between;
    align-items: center;
    padding:20px 30px
}

.img_container{
    width:350px;
    height: 200px;
    object-fit: fill;
    border-radius: 15px;
    border: solid 1px #888;
}

.project__image{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.text{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.project__description{
    width:450px;
    font-size: 20px;
    color:#ddd;
    margin:0;
    text-wrap:balance;
}

@media(width<950px){
    .detail_section{
        width:350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }

    .img_container{
        width:330px;
        height: 220px;
    }

    .project__description{
        width:330px
    }
}
